  
  
  
  /* google font shared */


body{
 font-family: 'Work Sans', sans-serif; 
 margin: 0;
 padding: 0;          
}




/*  header and nav realeted style */


header{
 width: 100%;
 height: 15vh;
 background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);       
}
nav{
display: flex;
justify-content: space-between;
}
.nav-title{
margin-left: .5rem;
font-size: 2.8rem;
}
.game-first-latter{
 color: lightsalmon;
}

nav>ul{
display: flex;
justify-content: center;
align-items: center;
}

nav>ul>li{
list-style:none ;
margin-left: .5rem;
padding: .5rem;
}

/* banner-section style */



.banner-container{
margin-top: 20px;
  display: flex;
  justify-content: space-between;
  background: #FFF;
}
.banner-content{
   width: 70%;
  font-size: 1rem;      
margin-top: 3rem;
margin-left: 3rem;
}
.banner-title{
color: #0B0223;
font-size: 2rem;
font-weight: 600;

                   
}
.banner-title-name{
 background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
 background-clip: text;
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 3rem;
font-weight: 800;

}

.btn-primary{
  color: #FFF;
  font-size: 1.5rem;
 font-weight: 400;              
padding: .5rem 1.5rem;
border: 0;
 border-radius: 48px;
 background:#FF42A5 87.94%; 
 margin-bottom: 1rem;       
}
.btn-secondary{   
 border: 0;                    
padding: .5rem 1.5rem;
 color: #FFF;
 font-size: 20px;         
font-weight: 400;    
border-radius: 48px;
background: #4EC5F7;
}
.banner-container img{
 width: 70%;
}

/* online game an funny video section */



.online-game-container{
 background: #FFF;;
}
.online-game-content{
  text-align: center;
  margin-top: 2rem;
}
.game-title-special{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
  font-weight: 500;

}
.online-game-container img{
  width:95% ;
}
.online-game-img{
  display: flex;
  width: 100%;
  height: 100vh;
  gap: 10px;

}
.game-card-first, .game-card-last{
  width: 27%;
}



 /* online game play section */

.game-play-container{
  margin-left: 6rem;
  display: flex;
  justify-content: center;
  background: #FFF;
  
}
.game-play-content{
  height: 100vh;
  width: 40%;
  font-size: .9rem;
  margin-top: 2rem;
  margin-right: 2rem;
}
.play-title{
font-size: 2rem;
font-weight: 400;
}
.play-title-special{
  
font-size: 2rem;
font-weight: 400;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.game-play-container img{
  margin-left: 2rem;
  width: 70%;
  
}
.small-play-img{
  width: 45%;
  position: relative;
  top: -120px;
  left: -30px;

}



/* game section style */

.game-zone{
  gap: 20px;
  width: 100%;
  height: 100%;
  display:grid ;
  grid-template-columns: repeat(5,4fr);
}
.game-name{
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: .5rem;
}
.game-name:hover{
  border: 2px solid brown;
  border-radius: 20px;
}
/* footer-section style */
.footer{
 margin-top: 1rem;
width: 100%;
height:80vh;
  background: #4813d8;
}
.footer-title{
  text-align: center;
  padding-top: 2rem;
  color: #FFF;
  font-size: 2rem;
}
.footer-content{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .7rem;
  gap: 1rem;
}
.footer-icon
{
  display: flex;
  justify-content: center;
  gap: 1rem;
  color: #FFF;

}
.footer-rules{

  display: flex;
  justify-content: center;
  gap: 1.7rem;
  font-size: .7rem;
}
.footer-copyright{
  font-size: .7rem;
}

















/* responsive with mobile device */

@media screen and (max-width:576px) {
  nav,
  .banner-container{
    flex-direction: column;
    margin: 4rem;
    

   
  }
  nav>ul{
    flex-direction:row;
    height: 100vh;
    padding-top:1rem;
    margin-left:1rem;
    margin-top: -12rem;
  }
  .online-game-img{
    flex-direction: column;
  }
  .game-card-first, .game-card-last{
    width: 100%;
  }
  .game-play-container{
  flex-direction: column-reverse;
    position: relative;
   top: 110rem;
   height: 70vh;
   padding: 1rem;
   margin: 1rem;
  }
  .game-play-content{
    margin-top: 0%;
    padding-top: 0%;
  }
  .game-zone{
    position: relative;
    top: 130rem;
    grid-template-columns: repeat(2,2fr);
    margin: 1rem;
    width: 100%;

  }
  .game-zone,font img{
    width:40%;

  }
  .footer{
    position: relative;
    top: 140rem;
  }
 }

  /* responsive with medium device */

    @media screen and  (min-width:576px) and (max-width:960px)  {
      .online-game-img{
        flex-direction: column;
        
      }
      .game-card-first, .game-card-last{
        width: 100%;
      }
     .game-play-container{
      flex-direction: column-reverse;
      position: relative;
      top: 220rem;
      margin-top: 10rem;
      padding-bottom: 5rem;
      height: 90vh;
     }
     .game-name{
      grid-template-columns: repeat(3,3fr);
      position: relative;
      top:240rem;
    
      /* margin: .5rem; */
     }


      
    }
  
  

